@import "settings";
@import "foundation";

body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1000px;
  font-family: sans-serif;
}

table {
  margin: auto;
  text-align: center;

  td {
    vertical-align: text-top;
    text-align: left;
    padding: 5px;
  }
}


span {
  margin-left: 20px;
  vertical-align: middle;

  &:first-of-type {
    margin-left: 0;
  }
}


.age {
  width: 25%;
}

.setting {
  width: 25%;
}

select, input, label, label img {
  vertical-align: middle;
}

button {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
}

label {
  margin-right: 10px;
}

legend {
  font-size: 1.2em;
  font-weight : bold
}

form {
  display: block;
}

.teamOutput {
  display: none;
}
